* {
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans";
}

header {
    width: 63%;
    margin: 0 auto;
    padding: 1rem 0;
    box-sizing: border-box;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;    
}

.cabecalho ul {
    list-style: none;
    display: flex; 
    align-items: center;
    flex-flow: row wrap;
}

.espacamento {
    margin-right: 25px;
}

.linha-header {
    border-left: 1px solid #e4dfdf;
    height: 20px;
}

.botao-pesquisa {
    background-color: #ff385c;
    border: none; 
    border-radius: 50%; 
    color: white; 
    cursor: pointer; 
    display: flex; 
    align-items: center;
    justify-content: center;
    height: 28px;
    width: 28px; 
}

.botao-pesquisa:hover {
    background-color: #D90964; 
}

.botao-pesquisa:active {
    background-color: #D90964; 
}

.hyper-header-2 {
    cursor: pointer;
    color: #000000;
    text-decoration: none;
    font-weight: 600;

    margin-left: 25px;
    margin-right: 25px;
}

.botao-header-1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    cursor: pointer;
    background-color: #ffffff;
    padding: 10px;
    padding-inline: 13px;
    border-radius: 2em;
    border-width: 1px;
    border-color: #e4dfdf;
    border-style: solid;
    font-weight: 600;
    box-shadow: #0000001a 0px 0px 4px 1px;;
}

.botao-header-2 {
    cursor: pointer;
    border-color: #ffffff;
    border-width: 0;
    margin-left: 0;
    margin-right: 20px;
}

.botao-header-2:hover {
    background-color: #802323;
}

.botao-header-3 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    cursor: pointer;
    background-color: #ffffff;
    padding: 8px;
    padding-inline: 12px;
    border-radius: 2em;
    border-width: 1px;
    border-color: #e4dfdf;
    border-style: solid;
    
}

.botao-header-3 li {
    margin-left: 3px;
    margin-right: 3px;
}

.linha {
    margin: auto;
    width: auto;
    padding: 0;
}

.linhaDivisoria {
    border-bottom: 1px solid #e4dfdf;
}

main {
    width: 63%;
    margin: 0 auto;
    padding-top: 25px;
}

.box-titulo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.box-titulo h1 {
    font-size: 1.6rem;
}

.box-titulo-botao {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.box-titulo-botao-1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 15px;
}

.box-titulo-botao-1-detalhe {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.box-titulo-botao-1-detalhe ul {
    margin-left: 10px;
}

.grid-imagens {
    display: grid;
    grid-template-rows: 260px 260px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 25px;
    gap: 10px;
}

.grid-imagens div {
    width: 100%;
    height: 100%;
}

.grid-imagens img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1em;
}

.grid-imagens-1 {
    grid-row: 1 / 3;
    grid-column: 1 / 3;
}

.grid-corpo {
    display: grid;
    grid-template-rows: 90px 90px 90px;
    grid-template-columns: 1.2fr 1.2fr 1.2fr 1.2fr 1.2fr;
    gap: 9px;
    margin-top: 30px;
}

.grid-corpo-1 {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
}

.grid-corpo-1 h3 {
    display: flex;
    font-size: 1rem;
    font-weight: normal;
}

.grid-corpo-2 {
    grid-row: 2 / 3;
    grid-column: 1 / 4;

    margin-top: -10px;
}

.grid-corpo-2 button {
    cursor: pointer;
    background-color: #ffffff;
    padding: 10px;
    padding-inline: 15px;
    border-radius: 1em;
    border-width: 1px;
    border-color: #e4dfdf;
    border-style: solid;
}

.grid-corpo-2 button ul {
    display: flex;
    list-style: none;
    align-items: center;
    font-size: 1.1rem;
    font-weight: bold;
}

.grid-corpo-2 button ul li {
    margin-left: 17px;
}

.grid-corpo-2-numero-estrelas {
    display: flex;
    flex-direction: column;
}

.grid-corpo-2-svg-estrelas {
    display: flex;
    align-items: center;
}

.grid-corpo-2-linha1 {
    border-left: 1px solid #e4dfdf;
    height: 40px;
}

.grid-corpo-2-avaliacoes {
    display: flex;
    flex-direction: column;
}

.grid-corpo-2-avaliacoes-detalhe {
    display: flex;
    align-items: center;
    text-decoration: underline;
    font-size: 0.8rem;
}

.grid-corpo-3 {
    grid-row: 3 / 4;
    grid-column: 1 / 4;
    margin-top: -20px;
    border-bottom: #e4dfdf 1px solid;
}

.grid-corpo-3-1 {
    display: flex;
    align-items: center;
}

.grid-corpo-3-1 h3 {
    font-weight: 700;
    margin-top: 13px;
}

.grid-corpo-3-2 {
    display: flex;
    flex-direction: column;
}

.grid-corpo-3-2 h3 {
    font-weight: 100;
    font-size: 0.9em;
    margin-left: 70px;
    margin-top: -24px;
}

.grid-corpo-3 img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
    margin-top: 30px;
}

.grid-corpo-4 {
    grid-row: 1 / 4;
    grid-column: 4 / 6;
    padding: 0 3rem 1rem 3rem;
    
}

.grid-corpo-4-nested-grid {
    display: grid;
    grid-template-rows: 60px 60px 60px 60px;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
    border: 1px solid #e4dfdf;
    border-radius: 1em;
    padding: 1rem 0 1rem 0;
    margin-left: 2rem;
    margin-right: -3rem;
    box-shadow: #0000001a 0px 0px 8px 5px;
}

.grid-corpo-4-nested-grid-1 {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    align-self: center;
    margin-left: 30px;
    display: flex;
}

.grid-corpo-4-nested-grid-1 h3 {
    margin-right: 10px;
}

.grid-corpo-4-nested-grid-2 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    margin-left: 30px;
    border: 1px solid #e4dfdf; 
    border-top-left-radius: 1em;
}

.grid-corpo-4-nested-grid-3 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    margin-right: 30px;
    border: 1px solid #e4dfdf;
    border-top-right-radius: 1em;
}

.grid-corpo-4-nested-grid-4 {
    grid-row: 3 / 4;
    grid-column: 1 / 3;
    margin-left: 30px;
    margin-right: 30px;
    border: 1px solid #e4dfdf;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

.grid-corpo-4-nested-grid-5 {
    grid-row: 4 / 5;
    grid-column: 1 / 3;
    margin-left: 30px;
    margin-right: 30px;
    align-self: center;
}

.grid-corpo-4-nested-grid-button-1 {
    cursor: pointer;
    background-color: #ffffff;
    margin-left: 0.2rem;
    padding-bottom: 1.3rem;
    padding-inline-end: 4.7rem;
    border: none;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}

.grid-corpo-4-nested-grid-button-1 h5 {
    margin: 0;
}

.grid-corpo-4-nested-grid-button-2 {
    cursor: pointer;
    background-color: #ffffff;
    padding: 10px;
    padding-inline: 15px;
    border: none;
}

.grid-corpo-4-nested-grid-button-3 {
    cursor: pointer;
    background-color: #ff385c;
    padding: 10px;
    padding-inline: 65px;
    border: none;
    text-align: center;
    border-radius: 0.5em;
    
}

.grid-corpo-4-nested-grid-5-detalhe {
    color: #ffffff;
}

.grid-corpo-4-nested-grid-corTexto {
    font-weight: 300;
}

.box-texto {
    display: flex;
    flex-wrap: wrap;
    padding-top: 2rem;
    padding-bottom: 3rem;
    border-bottom: #e4dfdf 1px solid;
    justify-content: space-between;
}

.box-texto div h4 {
    height: 8rem;
    width: 42rem;
    font-weight: 400;
}

.box-texto-denuncia {
    display: flex;
    flex-wrap: wrap;
    margin: -2rem 6.5rem 0 0;
}

.box-texto-denuncia button {
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    align-self: flex-start;
    display: flex;

}

.box-texto-denuncia span {
    margin: 0 0 0 1rem;
    text-decoration: underline;
    color: #7c7474;
}

.comodidades {
    display: inline-block;
    width: 300px;
    padding-top: 3rem;
    padding-bottom: 1rem;
}

table th {
    font-size: 1.4rem;
}

table td {
    display: flex;
    padding: 10px;
}

.comodidades2 {
    display: inline-block;
    padding-bottom: 1rem;
}

.button-comodidades {
    margin: 1rem 0 3rem 2rem;
}

.button-comodidades button {
    display: flex;
    padding: 13px 23px;
    font-size: 1rem;
    background-color: white;
    border-radius: 10px;
    font-family: "Nunito Sans";
    font-weight: 600;
    cursor: pointer;
}

.button-comodidades button:hover {
    background-color: #F7F7F7;
}

.button-comodidades button:active {
    transform: scale(0.9);
    transition: 300ms;
}

.flex {
    display: flex;
}

.comentario{
    justify-content: flex-start;
}

.grid-container {
    display: grid;
    gap: 50px;
    border-top: #e4dfdf 1px solid;
    padding-top: 1rem;
}

.grid-item{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1rem 7rem 1rem 1rem;
    font-size: 30px;
    text-align: left;
}

.review-container {
    display: flex;
    margin-bottom: 20px;
}

.profile-pic {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.user-info {
    font-size: 14px;
}

.user-name {
    font-weight: bold;
}

.rating {
    color: #f0c808;
}

.comment {
    font-size: 16px;
    font: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
}
    
a {
    color: black;
}

.onde {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    border-top: #e4dfdf 1px solid;
    border-bottom: #e4dfdf 1px solid;
    padding: 2rem 0 2rem 0;
}

iframe {
    display: flex;
    align-items: center;
    justify-content: center;
}

.escrita {
    padding: 1rem;
    text-align: left;
    font-family: "Nunito Sans";
}

div .escrita h3 {
    padding: 0.5rem;
}

div .escrita p {
    padding: 0.5rem;
}

.box-regras {
    margin: 2rem 0 2rem 0;
}

.box-regras h3 {
    font-size: 1.4rem;
}

.box-regras_da_casa {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1rem 0 1rem 0;
}

.box-regras_da_casa li {
    padding: 0.5rem 0 0.5rem 0;
}

.box-regras_da_casa-1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;
}

.box-regras_da_casa-2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;
}

.box-regras_da_casa-3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;
}

.box-regras_da_casa-texto {
    font-weight: 700;
}

.box-regras_da_casa-texto a {
    display: flex;
    align-items: center;
}

.footer {
    background-color: #f2f2f2;
    
}
.footer-linha1 {
    border: 1px solid #e4dfdf;

}

.footer-nav{
    margin: 0 0 1rem 19rem;
    padding: 30px;
    display: flex;
    align-items: center;
    color:#e4dfdf;
}

.footer-nav a{
    color: #000000;
    font-size: 0.9rem;
    text-decoration: none;
    font-weight: 450;
}

.footer-content {
    display: flex;
    padding: 60px;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
    border-bottom: #e4dfdf 1px solid;
    width: 63%;
}

.footer-section {
    flex: 1;
    margin-right: 20px;
}

.footer-section h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section li {
    margin-bottom: 5px;
    font-size: 0.9rem;
    padding-bottom: 5px;
}

.footer-section li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.footer-copyright-1 {
    margin-top: 30px;
    font-size: 14px;
    margin-left: 28rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
}

.footer-copyright p {
    margin: 0;
}

.footer-copyright p:last-child {
    margin-right: rem;
    align-items: center;
    font-weight: 650;
    font-size: 0.9rem;
}

.footer-copyright-2 {
    font-size: 14px;
    display: flex;
    align-items: center;
}

.footer-copyright-3 {
    margin-right: 26rem;
    font-size: 14px;
    display: flex;
    align-items: center;
}
.footer-copyright-3 span{
    margin-right: 30px;

}
.footer-copyright-3 .icones2{
    margin-right: 20px;

}