* {
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans";
}

header {
    width: 63%;
    margin: 0 auto;
    padding: 1rem 0;
    box-sizing: border-box;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;    
}

.cabecalho ul {
    list-style: none;
    display: flex; 
    align-items: center;
    flex-flow: row wrap;
}

.espacamento {
    margin-right: 25px;
}

.linha-header {
    border-left: 1px solid #e4dfdf;
    height: 20px;
}

.hyper-header-2 {
    cursor: pointer;
    color: #000000;
    text-decoration: none;
    font-weight: 600;

    margin-left: 25px;
    margin-right: 25px;
}

.botao-header-1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    cursor: pointer;
    background-color: #ffffff;
    padding: 13px;
    padding-inline: 15px;
    border-radius: 2em;
    border-width: 1px;
    border-color: #e4dfdf;
    border-style: solid;
    font-weight: 600;
}

.botao-header-2 {
    cursor: pointer;
    border-width: 0;

    margin-left: 0;
    margin-right: 20px;
}

.botao-header-3 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    cursor: pointer;
    background-color: #ffffff;
    padding: 8px;
    padding-inline: 12px;
    border-radius: 2em;
    border-width: 1px;
    border-color: #e4dfdf;
    border-style: solid;
    
}

.botao-header-3 li {
    margin-left: 3px;
    margin-right: 3px;
}

.linha {
    margin: auto;
    width: auto;
    padding: 0;
}

.linhaDivisoria {
    border-bottom: 1px solid #e4dfdf;
}

main {
    width: 63%;
    margin: 0 auto;
    padding-top: 25px;
}

.box-titulo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.box-titulo h1 {
    font-size: 1.6rem;
}

.box-titulo-botao {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.box-titulo-botao-1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 15px;
}

.box-titulo-botao-1-detalhe {
    display: flex;
    flex-direction: row;
}

.box-titulo-botao-1-detalhe ul {
    margin-left: 10px;
}

.grid-imagens {
    display: grid;
    grid-template-rows: 260px 260px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 25px;
    gap: 10px;
}

.grid-imagens div {
    width: 100%;
    height: 100%;
}

.grid-imagens img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-imagens-1 {
    grid-row: 1 / 3;
    grid-column: 1 / 3;
}

.grid-corpo {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    flex-wrap: wrap;
}

.grid-corpo h3 {
    display: flex;
    font-size: 1rem;
    font-weight: normal;
}

.grid-corpo div button {
    cursor: pointer;
    background-color: #ffffff;
    padding: 10px;
    padding-inline: 15px;
    border-radius: 1em;
    border-width: 1px;
    border-color: #e4dfdf;
    border-style: solid;
}

.grid-corpo div button ul {
    display: flex;
    list-style: none;
    align-items: center;
    font-size: 1.1rem;
    font-weight: bold;
}

.grid-corpo div button ul li {
    margin-left: 17px;
}

.grid-corpo-linha1 {
    border-left: 1px solid #e4dfdf;
    height: 40px;
}

.grid-corpo-numero-estrelas {
    display: flex;
    flex-direction: column;
}

.grid-corpo-svg-estrelas {
    display: flex;
    align-items: center;
}

.grid-corpo-avaliacoes {
    display: flex;
    flex-direction: column;
}

.grid-corpo-avaliacoes-detalhe {
    display: flex;
    align-items: center;
    text-decoration: underline;
    font-size: 0.8rem;
}

.grid-corpo {
    display: grid;
    grid-template-rows: 90px 90px 90px;
    grid-template-columns: 220px 220px 220px 220px 220px;
    gap: 9px;
    flex-wrap: wrap;
}

.grid-corpo-1 {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
}

.grid-corpo-2 {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
}

.grid-corpo-3 {
    grid-row: 3 / 4;
    grid-column: 1 / 4;
}

.grid-corpo-3-1 {
    display: flex;
    align-items: center;
}

.grid-corpo-3-1 h3 {
    font-weight: 700;
}

.grid-corpo-3-2 {
    display: flex;
    flex-direction: column;
}

.grid-corpo-3-2 h3 {
    font-weight: 100;
}
.grid-corpo-3 img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}



.grid-corpo-4 {
    background-color: bisque;
    grid-row: 1 / 4;
    grid-column: 4 / 6;
}